@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Tillana&display=swap");

.clip-path {
  width: 100vw;
  height: 100vh;
  background-color: #bccef8;
}
.clip-path:after {
  content: "";
  border-top: 100vh solid #faf7f0;

  border-right: 100vw solid transparent;
  width: 0;
  position: absolute;
}

.jokes-card {
  height: 79vh;
  width: 80%;
  background: #357b9b;
  position: absolute;
  top: 65px;
  left: 10.2%;
  z-index: 100;
  display:grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;

}
/* SideBar Component */

.SideBar {
  height: 79vh;
  background: #5e8a90;

}
.SideBar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}
.SideBar h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Tillana", cursive;
  color: #fff;
}
.SideBar h1 span {
  font-family: "Poppins", sans-serif;
}
.SideBar img {
  width: 50%;
  display: block;
}


.SideBar-btn {
  border: none;
  padding: 0.9rem 2.5rem;
  width: 50%;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(188, 206, 248, 1) 0%,
    rgba(188, 206, 248, 1) 50%,
    rgba(250, 247, 240, 1) 50%,
    rgba(250, 247, 240, 1) 100%
  );
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* JokeList Component */
.JokeList {
 
  height:80vh;
  overflow-y: scroll;


}

/* Joke Component */
.Joke {
  padding: 1.2rem 0.5rem 0rem;
  border-bottom:3px solid #fcfcfc;
}
.Joke-img {
  display:inline-block;
  width:69px;
  height:69px;
  object-fit: contain;
  margin-top:-15px;
  padding:0.5rem;
}
.Joke-rate {
  display: flex;
  align-items: center;
  justify-content:space-between ;
}


.Joke .up-arrow,
.Joke .down-arrow {
  font-size: 1.2rem;
  margin:0 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top:-10px;
}

.Joke .rate-number {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  border-radius: 50%;
  border: 3px solid #c82020;
  color: #fff;
  font-weight: bold;
}


.Joke-text {
    display:inline;
    color:#fff;
    font-weight: bold;
    font-size:1rem;

    justify-self: flex-start;
}
.Joke-buttons {
  display:flex;


}